<link rel="stylesheet" type="text/css" href="ForForm.css">
<div class='containerForForm' >
    <div class='NameForForm'>
        <h1>Editar Receita</h1>
    </div>

    <div class='ContentForForm'>
        <%= render 'form' %>
    </div>
    <br/>
</div>